@charset "utf-8";

/*부모 요소 초기설정부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*아웃라인 설정부분*/
#container{
    width: 520px;
    height: auto;
    border: 3px solid black;
    background-color: antiquewhite;
    /* margin: 30px auto; */
    padding: 10px;
}

/*문단에 대한 스타일 적용 부분*/
.content{
    border: 1px solid #ccc;
    width: 350px;/*단락의 폭 적용*/
    white-space: nowrap;/*줄바꿈이 적용x*/
    overflow: hidden;
    text-overflow: ellipsis; 
}
 .content:hover{
    overflow: visible;
}