@charset "utf-8";

/*초기화부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
 #container{
    width: 566.4px;  
    border: 3px solid black;
    padding: 10px;
    margin: 0 auto;

} 
.shadow-text{
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
    text-shadow:3px 3px 5px rgba(0,0,0,0.4) ;
}
.shadow-text:hover{
    /*호버(마우스를 갖다대면)시 그림자 색상이 변경*/

    text-shadow:3px 3px 5px rgba(255,0,0,0.4) ;
}