@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@500&display=swap');
/*웹 문서 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*웹 문서 아웃라인 스타일 적용부분*/
#container{
    width: 600px;
    height: auto;
    border: 3px solid black;
    margin: 40px auto;
    padding: 10px;
    background-color: beige;
}

/*문자 스타일 적용부분*/
p.txt{
    /* font: Nanum Pen Script 12px/24px 돋움; */
    font: italic 12px/24px Nanum Pen Script;
}