@charset "utf-8";

/*부모 요소 설정부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div{
    width: 100px;
    height: 100px;
    margin: 10px;

    display: inline-block;
}

#div_1{
    background: green;
}
#div_2{
    background: purple;
}
#div_3{
    background: blue;
}