@charset "utf-8";

/*부모 요소 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*container부모 요소 적용 부분*/
#container{
    /* width: 660px; */
    width: 664px;
    height: auto;
    border: 10px solid black;
    margin: 15px auto;
    padding: 2px;
}

/*check문서 자식 요소 적용 부분*/
#check{
    width: 640px;
    border: 3px solid #ccc;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-size: 1em;/*16px*/
    background-color: #222;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
}
h2{
    color: red;
    font-size: 1.2em;/*기본 글자16px에 120%*/
    text-align: center;
    line-height: 2em;/*기본 글자16px 2배 크기(32px) 넓어진다.*/
    font-weight: bold;
    text-decoration: underline;
}
p{
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center;
    font-weight: bold;    
}

/*자식 요소 적용 부분*/
.st1{
    color: blue;
    font-weight: bold;
}
.sun1{
    color: red;
    font-weight: bold;
}
.txt1{
    color: white;
    background-color: #222;
}