@charset "utf-8";

/*부모 요소 초기화 설정부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
            background: #222222;
            text-align: center;
            text-shadow: 3px 3px 5px rgb(255,0,0);
        }
        body:hover{
            text-shadow: 4px 4px 10px yellow
        }
        .text1{
            color: rgb(255,255,255);
        }
        .text2{
            color: rgba(255,255,255,0.8);
        }
        .text3{
            color: rgba(255,255,255,0.5);
        }
        .text4{
            color: rgba(255,255,255,0.2);
        }