@charset "utf-8";

/*부모 요소 초기화 적용부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*container 부모 요소 설정 적용부분*/
#container{
    width: 520px;
    height: 400px;
    margin: 30px auto;
    border: 2px solid black;

    /* background-image: url('../image/bg1.png'); */
    background-image: url('../image/bg1.png');
     background-repeat: repeat; 
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

    max-width: 520px;
    /*이속성을 사용하면 520px
    너비를 넘어가지 않고 최적화 
    시키는 CSS제어 속성이다.*/
}
h1{
    /* width: 520px; */
    text-align: center;
    background: black;
    color: white;
}