@charset "utf-8";

/*초기화부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*부모 요소 설정부분*/
#container{
    width: 520px;
    height: auto;
    border: 2px solid black;
    margin: 30px auto;
    padding: 20px;
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
   
}

h1{
    text-indent: 5px;
}
/*자식 요소 설정부분*/
div.indent1{
    width: 480px;
    border: 1px solid red;
    color: red;
    padding: 5px;

    margin-top: 10px;
}
div.indent2{
    width: 480px;
    border: 1px solid orange;
    color:orange;
    padding: 5px;

    margin-top: 10px;
    text-indent: 15px;/*15px들여쓰기*/
}
div.indent3{
    width: 480px;
    border: 1px solid green;
    color:green;
    padding: 5px;

    margin-top: 10px;
    text-indent: 5%;
}