@charset "utf-8";

/*부모 요소 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#contents1{
    width: 540px;
    height: auto;
    border: 1px solid black;
    margin: 30px auto;
    text-align: center;
    line-height: 3em;
    box-shadow: 3px 4px 3px #676565;
}

#contents2{
    /* width: 100%; */
    background-color: rgba(225, 233, 233, 0.8);
    border: 2px dashed blue;
    text-align: right;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 10px;
}