@charset "utf-8";

/*부모 요소 설정 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(12,9,233);
}