@charset "utf-8";

/*부모 요소 설정하기*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
}

button{
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 20px auto;
    font-size: 16px;
}