@charset "utf-8";

/*부모요소 초기화*/
*{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
}

body{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
}