@charset "utf-8";

/*부모 요소 설정부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*3의 배수 일때 표시할 영역*/
#result1{
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #ccc;
    box-shadow: 4px 4px 4px #666;
    font-size: 1.4em;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
}
#result1:hover{
    overflow: visible;
}

/*3의 배수가 아닌 표시할 영역*/
#result2{
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #2778e2c0;
    background-color: cadetblue;
    box-shadow: 4px 4px 4px #666;
    font-size: 1.6em;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
}
#result2:hover{
    overflow: visible;
}