@charset "utf-8";

/*부모 요소 설정 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "맑은 고딕","고딕","굴림";
}
header{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color:rgb(3,124,185);
    padding: 10px;
    overflow: hidden;
    /* 헤더 메뉴에 포함된 각종 요소들의 너비나 높이에 의해서 모양에 변화가 생기는데 이모양을 감추기 */
}
h1{
    width: 30%;
    float: left;
    color:white;
    font-size: 2em;
}
header .nav_Menu{
    width: 70%;
    float: left;
}
header .nav_Login{
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}
nav ul{
    list-style-type: none;
    font-size: 1.3em;
    font-weight: bold;
}
nav ul li{
    display:inline;
    float: left;
}
nav ul li:hover{
background-color:rgb(106, 125, 193);
color: white;
cursor: pointer;
}
nav ul li a{
    color: white;
    text-decoration: none;
}