@charset "utf-8";

/****** 웹 페이지 초기화 부분 ******/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/******웹 페이지 공통적인 부분******/
li{
    list-style-type: none;
    float: left;
}
a{
    text-decoration: none;
}
a:hover{
    color: #eeb5b5;
    font-weight: 500;
   
}
img{
    vertical-align: top;
}
/*이미지에 "vertical-align: top;" CSS 스타일을 적용하면 이미지가 텍스트와 함께 표시될 때 이미지의 상단 부분이 텍스트의 맨 위에 위치하도록 조정됩니다.
특별히 글자처럼 기본행간을 가진 img태그의 여백 제거  */

address{
    font-style: normal;
} /*기본설정값이 italict 값이기에 해당 문자 스타일을 기본값으로 돌려 놓는다.*/

small{
    font-size: 100%;
}/*기본설정값이 smaller(약85%)이다*/


/***** title(타이틀 속성값에 색상적용)*****/
.title_color{
    color: red;
}


/***** style.css ******/

/***** margin *****/
.mr10 {margin-right: 10px;}
.mr16 {margin-right: 16px;}
.mr17 {margin-right: 17px;}

/***** padding *****/
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}

/***** border *****/
.bt1ddd {border-top: 1px solid #ddd;}
.bt1000 {border-top: 1px solid #000;}
.bb1000 {border-bottom: 1px solid #000;}
.bb4000 {border-bottom: 4px solid #000;}
.bl1ddd {border-left: 1px solid #ddd;}
.br1ddd {border-right: 1px solid #ddd;}


/******웹 페이지 CSS 부분 header / nav(gnb) ******/
#wrap{
    min-width: 1110px;
}
/*#wrap ID를 가진 HTML 요소는 화면 너비가 1110px보다 작아지지 않도록 최소 너비를 1110px로 유지하게 하며, 브라우저 창의 크기가 1110px 미만으로 줄어들 때 요소의 크기를 자동으로 줄이지 않고 유지하게 해 줍니다. 이것은 주로 레이아웃을 설계하거나 요소의 최소 크기를 정의하는 데 사용됩니다.*/

.hidden{
    /*콘텐츠의 크기를 0으로 설정, 이래야 다른 요소와의 크기에 따른 위치값에 영향을 주지않음*/
    font-size: 0px;
    line-height: 0px;
    /*영역의 크기를 0으로 설정, 이래야 다른 요소와의 크기에 따른 위치값에 영향을 주지않음*/
    width: 0px;
    height: 0px;
    /*CSS적용시 시각적으로 해당 클래스 선택자를 보이지 않게 한다. */
    visibility: hidden;
}


/* 헤더(header) 메뉴를 고정 시기고자 스타일 적용 */
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;    
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,1);
    z-index: 100;
    /* margin: 40px auto; */
    /* box-sizing: border-box;  */
}
header > div{
    float: left;
}
#logo{
    margin-top: 5px;
    width: 23%; /*253px 사용해도 되지만 % 적용함*/
    height: 52px;
}
#header_right{
    margin-top: 10px;    
    width: 77%;/*857px 사용해도 되지만 % 적용함*/
    height: 52px;
}

#gnb{
    float: right; 
    margin-right:30px;   
    font-size: 12px;
}




/******웹 페이지 CSS 부분 nav(lnb) 부분 ******/
/* 내비게이션메뉴 고정 시키기 스타일 적용*/

#lnb{
    position: fixed;
    width: 100% ;
    height: 35px;    
    top: 60px;
    z-index: 99;
    background-color: #f2f2f2;
   
}

/******#lnb의 자녀요소인 ul*****/
#lnb > ul {
    width: 1110px;
    height: 40px;
    margin: 0 auto;
  }

#lnb > ul > li > a{
    display: block;
    line-height: 40px;
    font-weight: 700;   
}



/******웹 페이지 CSS 부분 section 부분 ******/
section{
    width: 100%;
}
#main_banner{
    width: 100%; 
    height: 393px;
    background-image: url(../images/image_slide_1.jpg);
    background-position: center;
}
/* 아이디 선택자인 #main_banner에 width: 300%;를 적용한 이유는 다음과 같습니다:

화면 너비를 넘어가는 이미지 효과: #main_banner는 배경 이미지를 표시하기 위한 요소로 사용되며, 이 요소의 너비를 300%로 설정함으로써 화면 너비를 넘어가는 이미지 효과를 만들기 위함입니다.

슬라이드 쇼 효과: 주로 슬라이드 쇼나 배너로 사용되며, 300% 너비의 #main_banner를 사용하면 여러 이미지를 가로로 연속해서 배치하고, 슬라이딩 애니메이션을 쉽게 구현할 수 있습니다. 배경 이미지의 위치를 조정하여 이미지가 움직이는 효과를 만들 수 있습니다.

반응형 디자인: #main_banner가 화면 너비의 300%를 차지하므로, 다양한 디스플레이 크기에 대응할 수 있습니다. 이것은 반응형 디자인을 지원하며, 다양한 디바이스와 화면 크기에 맞게 이미지를 조절하거나 효과를 적용할 때 유용합니다.

배경 이미지 중앙 정렬: background-position: center; 속성을 사용하여 배경 이미지를 가운데 정렬하므로, 이미지의 중요한 부분이 화면 중앙에 위치하게 됩니다.

요약하면, #main_banner의 너비를 300%로 설정하여 큰 이미지를 가로로 슬라이딩하거나 다양한 디바이스에 대응하는 반응형 디자인을 구현하고, 배경 이미지를 중앙 정렬하여 시각적으로 높은 품질의 이미지를 제공하기 위함입니다. */



/******웹 페이지 CSS 부분 section / .slide 에니매이션 적용 부분  ******/
.slide {
    min-width: 1110px;
    min-height: 393px;
    overflow: hidden;
    position: relative;
}


.slide > ul {
    width: 300%; /* 이미지가 3개 이므로 300%로 설정합니다. */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: imgSlide 13s infinite;
}

@keyframes imgSlide {
    0% {left: 0;}
  30% {left: 0;}

  33% {left: -100%;}
  63% {left: -100%;}

  66% {left: -200%;}
  96% {left: -200%;}
}
    /*속성이 한 가지 일 때에는 100% 생략 가능*/
  

  .slide > ul > li {
    /*부모요소인 ul의 1/3*/
    width: 33.333333%;
    overflow: hidden;
    /*영역보다 큰 요소를 포함할 때 사용*/
    float: left;
  }

  .slide > ul > li > a {
    display: block;
    width: 2000px;
    height: 393px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

.slide > ul > li > a > img {
  width: 100%;
  /*부모요소인 a태그에 맞춤*/
  vertical-align: top;
}


/*****주요 상품 배너 모음 적용부분*****/
#banner {
    width: 1110px;
    height: 130px;
    margin: 20px auto;
  }

#banner li {
    background-color: #000;
  }

#best {
    width: 1110px;
    height: 334px;
    margin: 20px auto;
}
#best h3 {
    height: 30px;
    font-weight: 200;
    /*strong은 강조된 상태 유지*/
}
/* 상 베스트 상품코너 슬라이딩 메뉴스타일 */
article > ul > li{
    float: left;
    position: relative;
    /* textbox기준점 */
    overflow: hidden;
}
/* 형제 요수 중 홀수번째 이미지 선택 */
article > ul > li:nth-child(odd){
    margin-right: 17px;
}
/* 형제 요소중 짝수 번쨰 이미지 선택 */
article > ul > li:nth-child(even){
    margin-right: 16px;
}
/* 형제 요소중 4의 배수 번쨰 */ 
article > ul > li:nth-child(4n){
    margin: 0px;
}
/* div.textbox 박스에 스타일 적용 부분 */
div.textBox{
    position: absolute;
    /* div.textbox 크기는 부모요소인 li (position: relative;)기준으로 결정*/
    width: 100%;
    height: 100%;
    background: #0005;
    transition: all 0.5s;
    top: 100%;
}
    /* transition을 적용하기 위해서는 명확해야 합니다. */
    article > ul > li:hover .textBox{
        top: 0px;
    }
div.textBox > ul{
    text-align: center;
    width: calc(100% - 20px * 2);
    margin: 40px auto;
}
div.textBox > ul > li:nth-child(2){
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 20px;
}
div.textBox a:link, a:visited{
    color: #ddd;
    text-decoration: none;
}
div.textBox a:hover{
    color: white;
}
/* 하 베스트 상품코너 슬라이딩 메뉴스타일 */


/*추가 article 반지 선택창*/
#best1{
    width: 1110px;
    margin: 20px auto;
}
.table12 h3 {
    height: 30px;
    font-weight: 200;
    /*strong은 강조된 상태 유지*/
}




/*****반지선택 표(테이블) 스타일 적용부분*****/
.bigbox{
    float: left;
}
.mainbox_img{
    width: 547px;
    height: 557px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-collapse: separate;
    box-sizing: border-box;

    margin-right: 16px;
}
/* td 태그에 적용할 스타일 */
.mainbox_img td{
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;     
}
/* 이미지에 적용할 스타일 */
.mainbox_img td img{
    /* border: 1px solid #ccc; */
    border: none;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;  
}



.small{
    float: left;
}
.smallbox_img{
    width: 547px;
    height: 547px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-collapse: separate;
    box-sizing: border-box;
}
/* td 태그에 적용할 스타일 */
.smallbox_img td{
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 136.75px;
    height: 136.75px;
    text-align: center;
    vertical-align: middle;     
}
/* 이미지에 적용할 스타일 */
.smallbox_img  td  img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; 
}



/****aside 광고 고정 창 하나 만들기****/
#ad-container {
  position: fixed;
  top: 300px;
  right: 0;
  width: 270px; /* 광고창의 가로 크기 조절 */
  height: auto; /* 광고창의 세로 크기 조절 */
 
  border: 1px solid #ccc;
  border-radius: 5px; 
  padding: 7px 10px 7px 10px;

  box-shadow: 3px 3px 4px black, -3px -3px 4px black;
  
  box-sizing: border-box;
  text-align: center;
}





/*****footer 적용부분*****/
footer {
    width: 1110px;
    height: 120px;
    margin: 0 auto;
  }

  footer > div {
    float: left;
  }

  #bottom_logo {
    width: 253px;
    height: 90px;
    margin-top: 30px;
  }

  #footer_right {
    width: 857px;
    height: 120px;
  }


  #fnb {
  width: 857px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}

#fnb a {
    display: block;
    line-height: 30px;
  }
  
  #address {
    width: 857px;
    height: 90px;
    font-size: 12px;
    line-height: 1.5;
  }

  #address address {
  height: 60px;
}

#address a {
    font-weight: bold;
  }
  