@charset "utf-8";

/*부모 요소 초기화*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    width: 500px;
    margin: 20px auto;
}
h1{
    font-size: 20px;
    text-align: center;
}
#nameList > p{
    font-size: 20px;
    text-indent: 30px;
    line-height: 1.5;
}
.del{
    font-size: 20px;
    text-align: center;
    color: red;
    background: transparent;
    float: right;
    margin-right: 10px;
}
.del:hover{
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
.del:active{
    outline: 0;
}