@charset "utf-8";

/*웹 문서 초기화 부분*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*웹 문서 아웃라인 스타일 적용 부분*/
#container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;

    position: relative;
}
/*div.box 스타일 적용 부분*/
div.box{
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: yellowgreen;

    display: inline-block;
    position: absolute;
    left: 27%;
    top: 27%;
}

/*Mouse Over 움직임 스타일 적용 부분*/
.box:hover{
    transform: rotate(35deg);
    /* -moz-transform: rotate(35deg);
    -webkit-transfrom: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);  */
}